name = "fuzzykey"
account_id = "ENTER_YOUR_ACCOUNT_ID_HERE"
workers_dev = true
main = "index.js"
compatibility_date = "2022-08-04"

kv_namespaces = [
  { binding = "FUZZYKEY", preview_id = "PREVIEW_KV_ID", id = "PROD_KV_ID"}
]